* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
}

:root {
  --h1-font: 4.5rem;
}

body {
  color: #fff;
  background: #cd5905;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background: transparent;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 12%;
  transition: all 0.5s ease;
}

.logo img {
  width: 100%;
  height: auto;
}

.navlist {
  display: flex;
}
.navlist a {
  margin: 0 28px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s ease;
}
.navlist a:hover {
  color: #f79021;
}

.nav-right {
  display: flex;
  align-items: center;
}

.o-btn, .btn1, .btn2 {
  display: inline-block;
  padding: 14px 32px;
  background: #f79021;
  color: #302b18;
  font-size: 14px;
  font-weight: 600;
  border-radius: 13px;
  box-shadow: #f79021 0 2px 30px;
  margin-right: 25px;
  transition: all 0.5s ease;
}
.o-btn:hover, .btn1:hover, .btn2:hover {
  transform: scale(1.06) translateY(3px);
}

#menu-icon {
  font-size: 42px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section {
  padding: 0 12%;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.main-content {
  padding-top: 240px;
}
.main-content h1 {
  font-family: "Outfit", sans-serif;
  font-size: var(--h1-font);
  line-height: 1.1;
  font-weight: 800;
  margin-bottom: 15px;
}
.main-content p {
  width: 650px;
  max-width: 100%;
  line-height: 2;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 35px;
}

.btn1, .btn2 {
  display: inline-block;
  padding: 14px 32px;
  background: #f79021;
}
.btn1:hover, .btn2:hover {
  transform: scale(1.06) translateY(-5px);
}

.btn2 {
  background: #302b18;
  border: 2px solid #f79021;
  color: #fff;
  margin-left: 8px;
}
.btn2:hover {
  background: transparent;
}

.social-icons {
  position: absolute;
  bottom: 0;
  left: 12%;
}
.social-icons i {
  display: inline-block;
  color: #fff;
  margin-right: 25px;
  font-size: 24px;
  transition: all 0.5s ease;
}
.social-icons i:hover {
  transform: scale(1.08) translateY(-8px);
}

@media (max-width: 870px) {
  :root {
    --h1-font: 3.5rem;
  }
  .main-content p {
    font-size: 15px;
  }
  .nav-list a {
    font-size: 15px;
  }
  .o-btn, .btn1, .btn2 {
    padding: 10px 22px;
  }
}
@media (max-width: 750px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    height: 100vh;
    width: 100%;
    padding: 70px 60px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
    transition: all 0.6s ease-in-out;
  }
  .navlist a {
    display: block;
    padding: 0;
    margin: 0 0 23px 0;
    font-size: 2.1rem;
  }
  .navlist.open {
    left: 0;
  }
}
@media (max-width: 550px) {
  :root {
    --h1-font: 3rem;
  }
}/*# sourceMappingURL=styles.css.map */